<div id="preview">
    <div class="content">
        <header>
            <h2>Upload Sticker</h2>
        </header>
        <div class="form">
            <div class="item">
                <div class="label">Heading</div>
                <div class="input"><input type="text" name="heading"></div>
            </div>
            <div class="item">
                <div class="label">Description</div>
                <div class="input"><textarea type="text" name="description"></textarea></div>
            </div>
            <div class="item">
                <div class="label">Sticker Upload</div>
                <div class="input"><input type="file" name="image"></div>
            </div>
        </div>
    </div>
</div>